{
  "arrowParens": "always",
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "tailwindFunctions": ["cn", "tv"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
