@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #3d4637;
  --color-secondary: #242920;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #e5e5d7;
  --color-neutral-300: #cccbbf;
  --color-neutral-400: #4d4c48;
  --color-neutral-500: #333330;
  --color-neutral-600: #1a1918;
  --color-error-100: #593636;
  --color-error-200: #2c1b1b;
  --font-optima: var(--font-optima);
  --font-lineseedsansth: var(--font-lineseedsansth);
}

@layer base {
  body {
    @apply font-lineseedsansth text-base leading-7 text-neutral-600;
  }
}

@layer components {
  .typo-heading-1 {
    @apply font-optima text-base leading-7 tracking-[.04em] md:text-[1.375rem] md:leading-9 lg:text-[1.75rem] lg:leading-11;
  }

  .typo-heading-2 {
    @apply font-optima text-base leading-7 tracking-[.08em] md:text-[1.375rem] md:leading-9;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mask-gradient {
    -webkit-mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
  }
}
